body {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color:#fcf2f8;
}

h1 {
  text-align: center;
}

#treemap {
  display: flex;   
  justify-content: center;
  margin: 3em;
}

#treemap svg {
  padding: 3em;
  border: solid;
  background-color: white;
}

.svgImgWidthHeigt {
  width: 700px;
  height: 400px;
}

.tooltip {
  position: fixed;
  top: 0;
  right: 0;
  background: rebeccapurple;
  color: white;
  padding: 0.5em;
  opacity: 0;
}