body {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #fcf2f8;
}

h1 {
  text-align: center;
}

#treemap {
  display: flex;
  justify-content: center;
  margin: 3em;
}

#treemap svg {
  padding: 3em;
  border: solid;
  background-color: white;
}

.textTreemap {
  color: black;
  padding-left: 0.3em;
  font-size: 0.8em;
  font-weight: bold;
}

.svgImgWidthHeigt {
  width: 700px;
  height: 400px;
}

#tooltip {
  position: absolute;
  background: pink;
  font-size: 0.8em;
  color: black;
  font-family: sans-serif;
  padding: 0.5em;
  box-shadow: 5px 3px 14px -1px rgb(0 0 0 / 46%);
  border-radius: 3px;
  opacity: 0;
}