:root {
  --main-pink-color: #FFC0CB;
  --main-purple-color: #64266b;
  --light-pink-color: #fcf2f8;
  --light-purple-color: #ebbbf0;


  --basic-white: #ffffff;
  --basic-black: #000000;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: var(--light-pink-color);
  padding: 0;
  margin: 0;
}

.startScreen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--basic-white);
  padding: 0em 0em 3em;
}

.startScreen img {
  position: relative;
  width: 100%;
  height: 25em;
  opacity: 0.7;
  object-fit: cover;
  margin-bottom: 5em;
}

.startScreen .headerTitel {
  position: absolute;
  background: var(--basic-white);
  padding: 3em;
  border-radius: 1em;
  box-shadow: 5px 3px 14px -1px rgb(0 0 0 / 46%);
  top: 19em;
}

.startScreen .headerTitel h1 {
  text-align: center;
  font-size: 2.5em;
  color: var(--main-purple-color);
  margin: 0;
  width: 100%;
}

.startScreen .headerImgTekst {
  position: absolute;
  max-width: 36em;
  padding: 0em 5em 0em 0em;
  top: 5em;
  left: 5em;
}

.startScreen .headerImgTekst h2 {
  font-size: 2.2em;
  background-image: linear-gradient(45deg, var(--main-pink-color), var(--light-pink-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.startScreen .headerTekst {
  max-width: 50em;
}

.dataVisualisation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0em 0em 3em;
}

.dataVisualisation h2 {
  width: 100%;
  padding: 1em 3em 0em;
  font-size: 2em;
  color: var(--main-purple-color);
}

#buttonTreemap {
  cursor: pointer;
  width: 7em;
  margin: auto;
  background-color: var(--main-purple-color);
  color: var(--basic-white);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  opacity: 0;
}

#buttonTreemap h3 {
  margin: 0;
  text-align: center;
  font-size: 1em;
}

#treemap {
  margin: 3em;

}

#treemap svg {
  padding: 3em;
  background-color: var(--basic-white);
  border-radius: 1em;
  box-shadow: 5px 3px 14px -1px rgb(0 0 0 / 46%);
}

#treemap foreignObject {
  cursor: pointer;
}

.textTreemap {
  color: var(--basic-black);
  padding-left: 0.3em;
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 0em
}

.svgImgWidthHeigt {
  width: 700px;
  height: 400px;
}

#tooltip {
  position: absolute;
  background: var(--main-pink-color);
  font-size: 0.8em;
  color: black;
  font-family: sans-serif;
  padding: 0.5em;
  box-shadow: 5px 3px 14px -1px rgb(0 0 0 / 46%);
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.divSVG {
  width: 18em;
  position: relative;
  margin: 3em 3em 3em 0em;
  background: var(--basic-white);
  border-radius: 2em 2em 1em 1em;
  box-shadow: 5px 3px 14px -1px rgb(0 0 0 / 46%);
}

.divSVG #attractieNaam {
  margin: 0em 0em 1em;
  background-color: var(--main-pink-color);
  border-radius: 1em 1em 0em 0em;
  padding: 1em;
  text-align: center;
  width: auto;
  color: var(--basic-white);
}

.divSVG #attractieInfo {
  padding: 0em 2em;
}